* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 1.8rem;
  font-weight: 600;
}

h3 {
  font-size: 1.4rem;
  font-weight: 800;
}

h4 {
  font-size: 1.1rem;
  font-weight: 600;
}

h5 {
  font-size: 1rem;
  font-weight: 400;
  color: #1d1d1d;
}

h6 {
  color: #d8d8d8;
}

hr {
  width: 30px;
  height: 2px;
  background-color: #fb774b;
}
/* navbar */
nav .container .collapse ul li i {
  cursor: pointer;
  color: #1d1d1d;
}
.active {
  color: #fb774b !important;
  font-weight: 500;
}
.navbar {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.navbar-toggler {
  border: none;
  outline: none !important;
}
.navbar-nav a {
  padding: 0 0.5em;
  color: #1d1d1d;
  transition: 0.3s ease;
}
.navbar-nav a:hover,
.navbar-nav a:active,
nav .container .collapse ul li i:hover {
  color: #fb774b;
}
#bar {
  color: black;
  transition: 0.3s ease;
}
#bar:hover {
  color: #fb774b;
}
#navbarSupportedContent > ul {
  margin: 0 1em;
}
#navbarSupportedContent > ul li {
  margin: 0.2em 0;
}
/* Home */
#home {
  background-image: url(../imgs/back.jpg);
  background-size: cover;
  background-position: top 4.5em center;
  height: 100vh;
  width: 100%;
}
#home span {
  color: #fb774b;
}
.button {
  font-weight: 700;
  color: aliceblue;
  background-color: #1d1d1d;
  padding: 0.5em 1em;
  box-shadow: 0.2em 0.2em rgb(61, 61, 61);
  transition: 0.3s ease;
}
button:hover {
  box-shadow: none;
}
/* Brand */
#brand img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 10px;
  transition: transform 0.3s ease;
}

#brand img:hover {
  transform: scale(1.05);
}

/* New Collecttion */
#new .row > div {
  position: relative;
}
#new .row > div::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #3f3f3f;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
}

#new .row > div:hover::after {
  opacity: 0.5;
}
#new .row > div img {
  height: 100%;
  width: 100%;
}
#new .row > div .details {
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;

  gap: 3.5em;
}
#new .row > div:first-child .details {
  padding-left: 1em;
  align-items: start;
}
#new .row > div:nth-child(2) .details {
  align-items: center;
}
#new .row > div:last-child .details {
  align-items: end;
  padding-right: 1em;
}
@media screen and (max-width: 992px) {
  #new .row > div .details {
    left: 50%;
    transform: translateX(-50%);
  }
  #new .row > div:first-child .details,
  #new .row > div:last-child .details {
    padding-left: 0em;
    align-items: center;
  }
}

/* featured */
.star i {
  color: #ffd250;
}
.product {
  cursor: pointer;
  margin-bottom: 2em;
}
.product .info button {
  transform: translateY(25px);
  transition: 0.3s ease;
  background-color: #fb774b;
  opacity: 0;
}
.product img {
  transition: 0.3s ease;
}
.product:hover img {
  opacity: 0.7;
}
.product:hover .info button {
  transform: translateY(0);
  opacity: 1;
}
/* Banner */
#banner {
  background-image: url(../imgs//banner/2.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top 70px center;
  height: 60vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  color: #fff;
}
#banner button {
  background-color: #fb774b;
}
footer {
  background-color: #222222;
}
footer span {
  color: #d8d8d8;
}
footer h5 {
  color: #d8d8d8;
  font-weight: 700;
  font-size: 1.2em;
}
footer li {
  padding-bottom: 0.4em;
}
footer li a {
  font-size: 0.8em;
  color: #999;
  text-decoration: none;
}
footer li a:hover {
  color: #d8d8d8;
}
footer p {
  margin-top: 0.8em;
  font-size: 0.8em;
  color: #999;
  line-height: 1.5em;
}
footer .copyright a {
  color: black;
  background-color: #fff;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  transition: 0.3s ease;
  text-align: center;
  text-decoration: none;
  font-size: 1.2em;
  margin-right: 1em;
  display: inline-block;
  line-height: 2.1em;
}
footer .copyright a:hover {
  color: #fff;
  background-color: #fb774b;
}
/* Product Details */
.small_img {
  cursor: pointer;
}
select {
  padding: 0.5em;
}
.size input {
  padding: 0.5em;
  width: 60px;
  outline: 0;
}
.size button {
  background-color: #fb774b;
}
.pagination li a {
  color: #fb774b;
}
.pagination li a:hover {
  color: #c15d3b;
}
/* Blog */
#blog-container .post {
  cursor: pointer;
}
#blog-container .post-img {
  overflow: hidden;

  position: relative;
}
#blog-container .post-img::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.5s ease;
}
#blog-container .post:hover .post-img::after {
  opacity: 1;
}
#blog-container .post img {
  transition: 0.5s ease;
}
#blog-container .post:hover img {
  transform: scale(1.1);
}
#blog-container .post h3,
#blog-container .post h4 {
  transition: 0.5s ease;
}
#blog-container .post:hover h3,
#blog-container .post:hover h4 {
  color: #fb774b;
}
/* Cart */
#cart-container {
  overflow-x: auto;
}
#cart-container table {
  width: 100;
  table-layout: fixed;
  border-collapse: collapse;
}
#cart-container table thead {
  font-weight: bold;
}
#cart-container table thead td {
  color: white;
  background-color: #fb774b;
  padding: 0.5em 0;
  text-align: center;
  border: 1px solid #fb774b;
}
#cart-container table tbody td {
  border: 1px solid #b6b3b3;
  text-align: center;
}
#cart-container table td:nth-child(1) {
  width: 100px;
}
#cart-container table td:nth-child(2),
#cart-container table td:nth-child(3) {
  width: 200px;
}
#cart-container table td:nth-child(4),
#cart-container table td:nth-child(5),
#cart-container table td:nth-child(6) {
  width: 170px;
}
#cart-container table tbody i {
  color: #8d8c89;
}
#cart-container table tbody img {
  object-fit: cover;
  width: 100px;
  height: 80px;
}
#cart-bottom .row .cupon div,
#cart-bottom .row .total > div {
  border: 1px solid #999;
}

#cart-bottom .row div h5 {
  font-weight: bold;
  color: white;
  background-color: #fb774b;
  padding: 0.3em 0.5em;
}
#cart-bottom .row .cupon p,
#cart-bottom .row .cupon input {
  margin: 0em 0.5em;
}
#cart-bottom .row .cupon input {
  padding: 0.4em;
}
#cart-bottom .row .total div > div {
  padding: 0 0.5em;
}
#cart-bottom .row .total h6 {
  color: #3f3f3f;
}
.total-hr {
  width: 100%;
}
#cart-bottom .row div button {
  border-width: 2px solid #3f3f3f;
  align-self: self-end;
  margin-right: 0.5em;
  background-color: #fb774b;
}
/* about */
#about .box div {
  color: white;
  display: flex;
  gap: 0.5em;
  flex-direction: column;
  transition: 1s ease;
  position: relative;
  padding: 1em 0;
  background-color: #fb774b;
  border-radius: 0.5em;
}
#about .box div::after {
  position: absolute;
  content: " Hover Here";
  width: 100%;
  height: 0%;
  top: 0;
  left: 0;
  transition: 1s ease;
  color: white;
  font-size: 2.5em;
  font-weight: bold;
  font-family: sans-serif;
}
#about .box div:hover::after {
  content: "";
  height: 100%;
}
#about .box div:hover {
  background-color: transparent;
}
#about .box div:hover p,
#about .box div:hover h5 {
  opacity: 1;
  visibility: visible;
  color: black;
}
#about .box div:hover i {
  color: #fb774b;
}
#about .box div i {
  color: transparent;
  z-index: 3;
  transition: 1s ease;
}
#about .box div p,
#about .box div h5 {
  opacity: 0;
  visibility: hidden;
  transition: 1s ease;
  z-index: 3;
}
